.husky/
**/.turbo/
.vscode/
**/node_modules/
**/out/
**/dist/
**/docs/
**/tsp-output/
**/.tshy*
**/.angular/
**/coverage/
**/test?
commitlint.config.js
.editorconfig
**/.env*
.gitignore
.gitlab-ci.yml
.syncpackrc
**/lint-staged.config.js
**/biome.json
compose.yml
